@charset "utf-8";

div.images {
    width: 25%;
    float: left;
}

#me {
    width: 70%;
    float: right;
    padding: 15px;
    border-radius: 360px;
    /* size of current image [169.042 x 165.656] */
}

div.body {
    width: 60%;
    float: left;
    padding-left: 50px;
    display: flex;
}

.body article h1 {
    font-family: 'Allan', Helvetica, Arial, sans-serif;
    font-size: 3em;
}

.body article p {
    width: 50%;
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
    font-size: 1.3em
}