@charset "utf-8";

/* WINDOW STYLES */
/* The body is actually taking up 100% of the page width so I don't have the sides of the white exposed. I decided to go with the whitesmoke background instead of the plain white to provide more warmth to the page. */

html {
    height: 100%;
}

body {
    height: 100%;
    margin: auto;
    background-color: whitesmoke;
}

/* HEADER STYLES */
div.header {
    width: 100%;
    height: 400px;
    display: block;
    background-color: #2997FF;
    background-image: url(img/clouds1.png);
    animation: clouds_anim 120s linear infinite;
}

@keyframes clouds_anim {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: -2122px 0;
    }
}

div.header header>h1 {
    display: block;
    color: white;
    width: 100%;
    font-size: 3em;
    padding: 100px 0 120px 0;
    margin: 0;
    text-align: center;
    font-family: 'Allan', Helvetica, Arial, sans-serif;

}

body header {
    height: 100%;
    position: relative;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: transparent;
    padding: 0%;
    margin: 0%;
    width: 75%;
    float: right;
}

nav ul li {
    float: left;
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
    font-size: 1.8em;
    width: 20%;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

nav ul li#lir {
    float: right;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* ==================
   Social Media Icons
   ==================
*/

nav ul.navicons {
    width: 20%;
}

nav i:hover {
    color: #ADADAD
}

/* FOOTER STYLES */

footer,
footer a {
    background-color: rgb(51, 51, 51);
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
    font-size: .9em;

    clear: both;
    content: "";
}

footer a:hover {
    color: #2997FF;
}