@charset "utf-8";
/* size of current image [169.042 x 165.656] */

/* div {
    border: red solid
} */

/* DIV STYLES */

div.icons {
    width: 35%;
    text-align: center;
    display: inline-block
}

div.bcontent {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

/* SOCIAL MEDIA ICONS */

.smicons ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.smicons ul li {
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 0 8px;
}

.smicons ul li a {
    display: block;
    font-size: 50px;
    border-radius: 360px;
}

.smicons ul li a i {
    line-height: 100px;
}

#ds {
    background: #7289DA;
    color: white;
}

#ig {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: white;
}

/* BODY CONTENT STYLES */

h2,
h3 {
    font-family: 'Allan', cursive;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 2em;
    margin: 0;
    padding: 0 0 15px 0;
}

div.icons img {
    border-radius: 100%;
    padding: 20px;
}

div.bcontent article p {
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    line-height: 30px
}



/* MOBILE STYLES */