@charset "utf-8";

div.container {
    columns: 2;
    column-rule: 1px solid #999;
    margin: 15px 0px;
}

div.container section p {
    padding: 15px;
}

h1,
h2 {
    font-family: 'Allan', cursive;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 1.8em;
}

h2 {
    font-size: 1.7em;
    text-align: center;
}

div.volunteer,
div.comservice,
.container2 p {
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    line-height: 30px;
    padding: 20px;
}