@charset "utf-8";

div.container {
    text-align: top;
    columns: 2;
    column-rule: 1px solid #999;
    margin: 15px 0px;
    height: 55%;
    padding: 25px;
}

div.container section p {
    padding: 15px;
}

div.column {
    height: 100%;
}

h1,
h2 {
    font-family: 'Allan', cursive;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 1.8em;
}

h2 {
    font-size: 1.7em;
    text-align: center;
}

div.column {
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    line-height: 30px;
}

/* MOBILE STYLES */

@media only screen and (max-width: 480px) {

    div.container {
        column-count: 1;
    }

    article {
        font-size: .9em;
        text-indent: 25px;
    }

    div.container h1 {
        font-size: 1.2em
    }
}